/target/
node_modules/
dist/
.DS_Store
*.db
*.db-shm
*.db-wal
apps/desktop/src-tauri/gen/


.env
.env.local

.codex
skills
*txt
*log
*md
!docs/STATUS.md
!docs/FUTURE_FEATURES.md
.agents
AGENTS.md
opencode.json
skills-lock.json
.opencode

*png
.png
